@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  text-align: center;
  font-family: "Work Sans";
  background-color: #fffdfa;
}

.active-sidebaritem {
  color: #67b6b3;
  border-left-width: 3px;
  border-left-color: #67b6b3;
  background-color: #eff9f8;
}
:focus {
  box-shadow: none !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #67b6b3 #f5f5f5;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #67b6b3;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
}
